html,body{font-family: 'Cairo', sans-serif;height: 100%;width: 100%;background-image: url(../img/bg.png); background-color: #0b7a86}
.btn-outline-success{border-radius: 25px;background-color: #0b7a86;color: white;border-color: #043d43;width: -webkit-fill-available;}
.btn-outline-success:hover{background-color: #043d43;border-color: #043d43}
.main h1,h5,p{color: white;}
.col-md-6 h1{padding-top: 150px}







.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #043d43;
    border-color: #043d43;
}




.btn-outline-success.focus, .btn-outline-success:focus {
    box-shadow:0 0 0 0.2rem #0b7a86!important;
}



@media only screen and (max-width: 600px) {
   .img-content{display: none}
    .col-md-6 h1{padding-top: 0px}
  }
}